results

#CVS crud
*CVS*
/notes
/analysis_notes
/testing*
/log*

*__init__.py

# Ignoring most of the stuff in CMSSW_5_3_11, except:
#  -- CMSSW_5_3_11/src/SingleTopPolarization
#  -- CMSSW_5_3_11/src/data
#  -- CMSSW_5_3_11/src/PhysicsTools
# Under PhysicsTools we will ignore a few automatically downloaded packages.
# If more packages are added (that are automatically downloaded), they
# should be added here.
CMSSW_5_3_11/*
!CMSSW_5_3_11/src
CMSSW_5_3_11/src/*
!CMSSW_5_3_11/src/SingleTopPolarization
!CMSSW_5_3_11/src/data
!CMSSW_5_3_11/src/PhysicsTools
CMSSW_5_3_11/src/PhysicsTools/PatAlgos
CMSSW_5_3_11/src/PhysicsTools/PatUtils
CMSSW_5_3_11/src/PhysicsTools/CandUtils

# The automatically downloaded exempi tool
exempi-2.2.1.tar.bz2
exempi-2.2.1

/bin/*
*.png
*.pickle
*.out
/data

# Compiled Object files
*.slo
*.lo
*.o
*.pyc

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

#ROOT files
*.root
!CMSSW_*/src/data/*
!CMSSW_5_3_11/src/data/WJets_reweighting/hists__costheta_flavours_merged_scenario0.root
/trees

#Logs
*.log

#Xcode files
*.xcworkspace

#crab jobs
/crabs/step*

#related to documentation
/AN*

/pres

#vim temps
*.un~
*~

*.hdf5

/misc/*
/local
/theta
/lqetafit/htmlout*
/lqetafit/topfit

/stpol.xcodeproj/xcuserdata

*.pdf
*.yield

*.txt

*.csv
*.root

#misc

.ipynb_checkpoints/
CMSSW_5_3_11/src/PhysicsTools/UtilAlgos/
CMSSW_5_3_11/src/SingleTopPolarization/GenLevelCosThetaStudy/WD_madgraph/
CMSSW_5_3_11/src/SingleTopPolarization/GenLevelCosThetaStudy/WD_madgraph_100/
CMSSW_5_3_11/src/SingleTopPolarization/GenLevelCosThetaStudy/WD_mass/
CMSSW_5_3_11/src/SingleTopPolarization/GenLevelCosThetaStudy/WD_nomass/
CMSSW_5_3_11/src/SingleTopPolarization/GenLevelCosThetaStudy/log
CMSSW_5_3_11/src/SingleTopPolarization/GenLevelCosThetaStudy/unw/
crabs/Aug4_c6a4b11/
crabs/Aug5_d32649f_datafix/
crabs/Jul10_5a56de/
crabs/Jul16_7d17c5/
crabs/Sep19_qcdiso/
crabs/Sep20_csv_54733f/
crabs/Sep27_nogenprt_nopdf_e073fcd_e073fc/
crabs/Sep2_54244c/
crabs/Sep3_mass3GeV_e4ff13/
crabs/Sep4_syst_a554579/
crabs/Sep6_760158_powheg_genparticles/
crabs/Sep9_bcaf7a_mass/
crabs/fulldata_846a37/
crabs/lumis/lumi_missing_ele.json
crabs/lumis/lumi_missing_mu.json
crabs/missing_data/
external_bak/
final_fit/make_metvariated.sh
local_bak/
mvatools/filelist
setup/virtualenv.py
src/hists/
src/qcd_eff/output.csv
src/qcd_eff/output.csv.gz
src/qcd_eff/output.jld
step3_latest
temp/
test.sh
