#CVS crud
*CVS*

testing*
log*

CMSSW_5_3_11/src/SingleTopPolarization/*/python/__init__.py

# Compiled Object files
*.slo
*.lo
*.o
*.pyc

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

#ROOT files
*.root
trees

#Logs
*.log

#Xcode files
*.xcworkspace

#testing stuff
#test*

#crab jobs
crabs/step*

#related to documentation
AN*

pres
#vim temps
*.un~
*~

*.hdf5

misc/*
rootpy
root_numpy
local
data
theta

stpol.xcodeproj/xcuserdata
