#CVS crud
*CVS*
/analysis_notes
/testing*
/log*

*__init__.py
CMSSW_5_3_11/.SCRAM
CMSSW_5_3_11/config
CMSSW_5_3_11/python
CMSSW_5_3_11/tmp

/bin/*
*.png
*.pickle
*.out
/data
/out*

# Compiled Object files
*.slo
*.lo
*.o
*.pyc

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

#ROOT files
*.root
!CMSSW_*/src/data/*
!CMSSW_5_3_11/src/data/WJets_reweighting/hists__costheta_flavours_merged_scenario0.root
/trees

#Logs
*.log

#Xcode files
*.xcworkspace

#crab jobs
/crabs/step*

#related to documentation
/AN*

/pres

#vim temps
*.un~
*~

*.hdf5

/misc/*
/local
/theta

/stpol.xcodeproj/xcuserdata

*.pdf
*.yield

*.txt
