%Image::ExifTool::UserDefined::stpol = (
    GROUPS => { 0 => 'XMP', 1 => 'XMP-stpol', 2 => 'Image' },
    NAMESPACE => { 'stpol' => 'https://github.com/HEP-KBFI/stpol' },
    WRITABLE => 'string',
    cut => { },
    weight => { },
    infiles => { },
    title => { },
    comments => { },
);

%Image::ExifTool::UserDefined = (
    'Image::ExifTool::XMP::Main' => {
        stpol => {
            SubDirectory => {
                TagTable => 'Image::ExifTool::UserDefined::stpol',
            },
        },
    },
);